* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    color: white;
    background-color: #E46003;
    height: 50px;
    box-shadow: 5px 0px 5px black;
}

.header-row {
    width: 70%;
    margin: 0 auto;
    display: flex;
}

.header-col-33 {
    width: calc(100% / 3);
    padding: 10px 0px;
    position: relative;
}

.header-span {
    margin: 20px;
    font-weight: bold;
}

.logo {
    height: 30px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -30%);
   
}

.icone {
    text-align: right;
}

/* header */

.container {
    width: 70%;
    margin: 0 auto;

    height: 800px;
    margin-bottom: 200px;
}

.row {
    margin-top: 100px; 
    display: flex;
    justify-content: space-between;
}

.row-2 {
    position: relative;
    top: 300px;
}

.col-33 {
    width: 30%;
    background-size: cover;
    position: relative;
}

main img {
    width: 100%;

}

.col-33:hover .img-b {
    display: none;
}

.img-a {
    position: absolute;
    right: 0px;
}

.img-b {
    position: absolute;
    right: 0px;
}

.main-span {
    position: relative;
    top: 280px;
    padding: 5px;
    color: white;
}

.bkg-red {
    background-color: red;
}

.bkg-green {
    background-color: green;
}

.bkg-green, .bkg-red {
    font-weight: 300;
    font-size: small;
}

.info {
    position: relative;
    top: 400px;
}

.heart {
    background-color: white;
    padding: 5px 10px;
    position: absolute;
    right: 0px;
    top: 20px;
}

.heart:hover {
    color: red;
}

.marca {
    font-size: small;
}

.modello {
    font-weight: bold;
    font-size: 300;
}

.prezzo {
    color: red;
    font-weight: bold;
}

.vecchio-prezzo {
    text-decoration: line-through;
}

.prezzo, .vecchio-prezzo {
    font-size: small;
}


/* footer */

footer {
    background-color: #1A1A1A;
    color: white;
}

.footer-row {
    width: 70%;
    margin: 0 auto;
    display: flex;
}

.col-50 {
    width: 50%;
}

.nome {
    text-align: left;
    font-weight: bold;
    font-size: large;
}

.ref {
    text-align: right;
    font-size: small;
}

.ref, .nome {
    padding: 10px 0px;
}

.link {
    padding-right: 5px;
    font-size: small;
}